.about {
    height: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #2b2a2a;
    justify-content: space-evenly;
    align-items: center;
  }

  .about-agency{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-top: 80px;
  }
  
  .summary{
    margin-right: 25px;
    width: 80vw;
    height: 500px;
    margin-left: 3vw;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 10px 3px #DCDCC7;
    overflow: auto;
    scrollbar-width: none;
  }

  .summary h3 {
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Montserrat", serif;
    font-size: 65px;
    align-items: top;
    justify-content: flex-start;
  }
  
  .summary p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    margin-top: 30px;
    float: left;
    font-family: "Jaldi", serif;
    font-size: 32;
    letter-spacing: 3px;
    line-height: 20px;
  }
  
  .logo{
    height: 500px;
    margin-right: 3vw;
    filter: drop-shadow(0 8px 32px rgba(0, 0, 0, 0.37));
  }

  .about-members{
    height: 420px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
  }

  .suraj-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    overflow: auto;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transition: 0.5s;

    &:hover{
      transform: perspective(900px) rotateX(15deg);
      box-shadow: 0px 10px 10px 3px #DCDCC7;
    }
  }

  .suraj-card img{
    width: 65%;
    border-radius: 20px;
    filter: grayscale(1);
    transition: 0.5s;
  }

  .suraj-card:hover > img{
    filter: grayscale(0);
  }

  .suraj-card h3{
    margin-top: 10px;
    font-size: 25px;
    font-family: "Montserrat", serif;
    font-weight: 700;
  }

  .suraj-card p{
    white-space: pre-line;
    text-align: center;
    margin-top: 8px;
    font-size: 15px;
    font-family: "Jaldi", serif;
    font-weight: 500;
    line-height: 1.5;
  }

  .pawan-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    overflow: auto;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transition: 0.5s;

    &:hover{
      transform: perspective(900px) rotateX(15deg);
      box-shadow: 0px 10px 10px 3px #DCDCC7;
    }
  }

  .pawan-card img{
    width: 65%;
    border-radius: 20px;
    filter: grayscale(1);
    transition: 0.5s;
  }

  .pawan-card:hover > img{
    filter: grayscale(0);
  }

  .pawan-card h3{
    margin-top: 10px;
    font-size: 25px;
    font-family: "Montserrat", serif;
    font-weight: 700;
  }

  .pawan-card p{
    white-space: pre-line;
    text-align: center;
    margin-top: 8px;
    font-size: 15px;
    font-family: "Jaldi", serif;
    font-weight: 500;
    line-height: 1.5;
  }

  .rohit-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    overflow: auto;
    transform-style: preserve-3d;
    transform-origin: center bottom;
    transition: 0.5s;

    &:hover{
      transform: perspective(900px) rotateX(15deg);
      box-shadow: 0px 10px 10px 3px #DCDCC7;
    }
  }

  .rohit-card img{
    width: 65%;
    border-radius: 20px;
    filter: grayscale(1);
    transition: 0.5s;
  }

  .rohit-card:hover > img{
    filter: grayscale(0);
  }

  .rohit-card h3{
    margin-top: 10px;
    font-size: 25px;
    font-family: "Montserrat", serif;
    font-weight: 700;
  }

  .rohit-card p{
    white-space: pre-line;
    text-align: center;
    margin-top: 8px;
    font-size: 15px;
    font-family: "Jaldi", serif;
    font-weight: 500;
    line-height: 1.5;
  }