.about {
    height: 1200px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #2b2a2a;
    align-items: center;
  }

  .about-agency{
    width: 100vw;
    height: 550px;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-top: 80px;
  }
  
  .summary{
    margin-right: 25px;
    width: 80vw;
    height: 500px;
    margin-left: 3vw;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 10px 3px #DCDCC7;
    overflow: auto;
  }

  .summary h3 {
    padding-top: 20px;
    padding-left: 20px;
    font-family: "Montserrat", serif;
    font-size: 65px;
    align-items: top;
    justify-content: flex-start;
  }
  
  .summary p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: justify;
    margin-top: 30px;
    float: left;
    font-family: "Jaldi", serif;
    font-size: 32;
    letter-spacing: 3px;
    line-height: 20px;
  }
  
  .pawan{
    height: 500px;
    margin-right: 3vw;
    filter: drop-shadow(0 8px 32px rgba(0, 0, 0, 0.37));
  }

  .abtmmbrs-1{
    height: 420px;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-self: center;
  }

  .rohit-card{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    place-items: center;
    border-radius: 8px;
    transform-origin: center bottom; 
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    transition: 0.5s;

    &:hover{
      transform: perspective(900px) rotateX(15deg);
      box-shadow: 0px 10px 5px #DCDCC7;
    }
  }

  .rohit-card img{
    background-color: red;
    position: absolute;
    height: 60%;
    filter: grayscale(1);
    transition: 0.5s;
    border-radius: 5px;

    &:hover{
      filter: none;
      transform: scale(1.1);
    }
  }

  .rohit-card h3{
    position: absolute;
    top: 60%;
    font-family: "Montserrat", serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 7px;
  }

  .rohit-p{
    position: absolute;
    top: 73%;
    font-family: "Jaldi", serif;
    font-size: 22px;
    text-align: center;
    line-height: 24px;
  }

  .rohit-d{
    position: absolute;
    top: 79%;
    font-family: "Jaldi", serif;
    font-size: 22px;
    text-align: center;
    line-height: 24px;
  }
  
  .rhtcrd{
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    transform-origin: center bottom;
    transform-style: preserve-3d;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    position: relative;
    transition: 0.5s;

    &:hover{
      transform: perspective(900px) rotateX(15deg);
      box-shadow: 0px 10px 5px #DCDCC7;
    }
  }

  .img-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transform-origin: center bottom;
    /* background-color: red; */
    /* opacity: 0.3; */
    transition: 0.5s;
}

.rhtcrd:hover .img-wrapper {
  transform: perspective(900px) rotateX(-20deg);
  height: 75%; /* Counter-rotation */
}

.img-wrapper img {
    height: 100%;
    object-fit: cover;
    transform: translateZ(1px); 
    backface-visibility: hidden; 
}
  
  .pwncrd{
    height: 400px;
    width: 300px;
    transform-origin: center bottom;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    transition: 0.5s;
    border-radius: 5px;

    &:hover{
      transform: perspective(900px) rotateX(15deg);
      box-shadow: 0px 10px 5px #DCDCC7;
    }
  }
  
  .srjcrd{
    height: 400px;
    width: 300px;
    transform-origin: center bottom;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.5));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 8px;
    border: 3px, solid, rgba(255, 255, 255, 0.18);
    transition: 0.5s;

    &:hover{
      transform: perspective(900px) rotateX(15deg);
      box-shadow: 0px 10px 5px #DCDCC7;
    }
  }

  .suraj-card img{
    background-color: red;
    height: 60%;
    align-self: center;
    filter: grayscale(1);
    transition: 0.5s;
    border-radius: 5px;

    &:hover{
      filter: none;
      transform: scale(1.1);
    }
  }

  .suraj-card h3{
    font-family: "Montserrat", serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 7px;
  }

  .suraj-card p{
    font-family: "Jaldi", serif;
    font-size: 22px;
    text-align: center;
    line-height: 24px;
  }