.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-top: 2rem;
    padding-bottom: 20px;
    max-width: 100%;
  }
  
  .feature {
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 250px;
    height: 85px;
    text-align: center;
  }
  
  .feature h3 {
    font-family: "Montserrat", serif;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #004ca9;
  }

  .feature p {
    margin-top: 1rem;
    font-family: "Jaldi", serif;
    line-height: 1.2;
  }
  
  
  @media (min-width: 768px) {
    .hero {
        flex-direction: row;
        text-align: left;
    }
  
    .hero-content {
        flex: 1;
        padding-right: 2rem;
    }
  
    .hero-image {
        flex: 1;
    }
  }