html{
  scroll-behavior: smooth;
}

.sticky{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  
header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 20px;
  /* position: fixed; */
  top:0;
  left: 0;
  transition: 0.3s;   
  z-index: 100;    
  background-color: rgba(255, 255, 255, 0.123);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-bottom: 3px, solid, rgba(255, 255, 255, 0.18);
}

  /* navbar starts here  */
  
  .navbar {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50px;
    padding: 10px 0px;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    position: relative;
  }
  
  .navbar ul li {
    position: relative;
    margin: 0 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #f1f1e6;
    font-family: "Montserrat", serif;
    font-size: 18px;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .navbar ul li a::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 12px;
    width: 0%;
    height: 3px;
    background-color: #f1f1e6;
    transition: all 0.3s;
    
  }

  .navbar ul li a:hover::before {
    width: 80%;
    color: #f1f1e6;
    transform: scale(1.1);
  }
