.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(135deg, #4A90E2, #8E44AD);
  color: white;
  min-height: 100vh;
 
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-family: "Montserrat", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-family: "Jaldi", serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta-buttons a {
  color: black;
  text-decoration: none;
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.cta-buttons a:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.cta-buttons a:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.hero-image {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
}

.features {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2rem;
  padding-bottom: 20px;
}

.feature {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 250px;
  text-align: center;
}

.feature h3 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  color: #4A90E2;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #4A90E2;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
  z-index: 1000;
}

.floating-button:hover {
  background-color: #8E44AD;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.close-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .hero {
      flex-direction: row;
      text-align: left;
  }

  .hero-content {
      flex: 1;
      padding-right: 2rem;
  }

  .hero-image {
      flex: 1;
  }
}
