.hero {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  background: linear-gradient(135deg, #4A90E2, #8E44AD);
  color: white;
  min-height: 100vh;
  /* min-width: 100%; */
  /* max-width: 100%; */
 
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-family: "Montserrat", serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero p {
  font-family: "Jaldi", serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta-buttons a {
  color: black;
  text-decoration: none;
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.cta-buttons a:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.cta-buttons a:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}

.hero-image {
  width: 100%;
  max-width: 500px;
  margin: 2rem auto;
}


