.hero {
  height: 1045px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  min-height: 100vh;
}

.container{
  position: absolute;
  top: 0;
  z-index: -1;
  height: 1097px;
  width: 100%;
  background-color: lightgray;
}

.cta-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cta-buttons a {
  color: black;
  text-decoration: none;
  background: #fbca1f;
  font-family: inherit;
  padding: 0.6em 1.3em;
  font-weight: 900;
  font-size: 18px;
  border: 3px solid black;
  border-radius: 0.4em;
  box-shadow: 0.1em 0.1em;
  cursor: pointer;
}

.cta-buttons a:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em;
}

.cta-buttons a:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em;
}


