@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #2b2a2a;
  position: absolute;
}
.sticky{
  background: #495057;
}
/* navbar starts here  */
.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 15px 20px;
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  transition: 0.3s;   
  z-index: 100;    
}

.navbar ul {
  display: flex;
  list-style: none;
  position: relative;
}

.navbar ul li {
  position: relative;
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", serif;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    color: #0066ff;
    transform: scale(1.1);
  }
}

/* hero section starts here  */

.parallaxin {
  height: 90vh;
  padding: 10px 0;
  display: flex;
  background-size: cover;
}
.right-parallaxin{
  height: 100%;
  width:35vw;
}
.right-parallaxin img{
  width: 100%;
  height: 100%;
}
.left-parallaxin{
  padding-top: 12vh;
  height: 100%;
  flex-grow: 1;
  padding-left: 100px;
}
.left-parallaxin p{
  font-size: 1.5rem;
  padding: 50px;
  color: white;
  line-height:35px;
  text-align: center;
}
.left-parallaxin h1 {
  color: white;
  text-align: center;
  font-family: "Jersey 25", serif;
  font-size: 4rem;
  letter-spacing: 5px;
}
.left-parallaxin h2 {
  color: white;
  text-align: center;
  font-family:  serif;
  font-size: 3.5rem;
  letter-spacing: 5px;
}
.left-parallaxin h2 span{
  color: red;
}

/* Showcase section starts here  */

.showcase {
  display: flex;
  background-color: #adb5bd;
  min-height: 900px;
  width: auto;
  flex-direction: column;
}

.pro-text {
  height: auto;
  padding: 0.5rem 0.2rem;
  text-align: center;
}

.project-text {
  font-family: "Montserrat", serif;
  font-weight: 600;
  font-size: 50px;
  position: relative;
  display: inline-block;
  color: #212529;
  text-decoration: none;
  height: 50px;
  transition: 0.3s;
}

.project-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 3.5px;
  bottom: -3.5px;
  left: 0;
  background-color: #212529;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.project-text:hover::after {
  transform: scaleX(1);
}

/*project container and project box desigining*/

.project-container {
  width: 100%;
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 4rem;
  grid-gap: 40px;
}

.project-box {
  height: 450px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  }

}

.pro-box1 {
  background: #f8f9fa;
}

.pro-box2 {
  background: #212529;
}

.img-container {
  height: 120px;
  width: 30%;
}

.img-container img{
  width: 120px;
  margin-left: -11px;
}
.img-container img{
  height: 100%;
}

.msg-container {
  width: 100%;
  flex: 1;
  position: relative;
}

.pro-box1 p{
  font-family: "Jaldi", serif;
  font-size: 32;
  letter-spacing: 1.7px;
  line-height: 17px;
  margin-top: 18px;
  color: #212529;
}

.pro-box2 p{
  font-family: "Jaldi", serif;
  font-size: 32;
  letter-spacing: 1.7px;
  line-height: 17px;
  margin-top: 18px;
  color: #ffffff;
}

.msg-container a {
  color: #212529;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  position: relative;
}

.msg-container a::after {
  content: ' ';
  width: 0%;
  height: 3px;
  background: #343a40;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;

}

.msg-container:hover a::after {
  width: 100%;
}

.pro-box2 .msg-container a {
  color: #f8f9fa;
}

.pro-box2 .msg-container a::after {
  background: #f8f9fa;
}
.overlay p {
  font-size: 1.2rem;
  font-weight: 300;
  /* transition: font-size 0.3s ease, color 0.3s ease; */
  color: #212529;
  line-height: 22px;
}
.msg-container .overlay{
  height:70% ;
  width: 100%;
  position: absolute;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  bottom: 0;

  /* background: linear-gradient(transparent, #1c1c1c 99%); */
  text-align: center;
  transition: height 0.5s;

}
.msg-container:hover .overlay{
  height: 100%;
}
.msg-container:hover .overlay p{
  font-size: 1.3rem;
  font-weight: 350;
  transition: height 0.5s;
}

.pro-box2 .msg-container .overlay p{
  color: white;
}
/* about description sections starts here  */

.about {
  height: 800px;
  width: auto;
  display: flex;
  color: white;
}

.about h3 {
  font-family: "Montserrat", serif;
  font-size: 65px;
  align-items: top;
  justify-content: flex-start;
  margin-top: 100px;
  margin-left: 100px;
}

.about p {
  margin-top: 10px;
  margin-left: 100px;
  float: left;
  font-family: "Jaldi", serif;
  font-size: 32;
  letter-spacing: 3px;
  line-height: 20px;
}

.about img {
  height: 500px;
  margin-right: 100px;
  margin-top: 120px;
}

/* reviews section starts here  */

.feedback-container {
  margin-top: 3px;
  height: 800px;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  background-color: #adb5bd;
}

.rating-box {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.rating-box h2{
  margin-bottom: 8px;
  color: #333;
  font-family: "Montserrat", serif;
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 7px;
}

.stars input {
  display: none;
}

.stars label {
  font-size: 40px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

/* Creates the hover effect for all stars up to the hovered one */
.stars label:hover,
.stars label:hover~label {
  color: #0066ff;
}

/* Style for checked stars */
.stars input:checked~label {
  color: #0066ff;
}

.cards{
  display: flex;
  flex-direction: row;
}

.card-1 {
  width: 100%;
  max-width: 380px;
  height: 90px;
  margin-top: 50px;
  margin-left: 100px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
}

.card-1:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card-1 img{
  width: 60px;
  height: 60px;
  margin-left: 10px;
  border-radius: 10px;
}

.textBox-1 {
  width: calc(100% - 105px);
  margin-left: 15px;
  color: white;
  font-family: "Montserrat", serif;
}

.textContent-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  font-size: 14px;
}

.h1 {
  font-size: 20px;
  font-weight: normal;
}

.p {
  font-size: 14px;
  font-weight: lighter;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #adb5bd;
  margin-top: 3px;
  height: 600px;
  width: auto;
}

/* contact section */

.contact-container{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

/* contact left section  */

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.contact-left h2{
  font-family: "Montserrat", serif;
  font-weight: 700;
  color: #f3f2f3;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-input{
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  color: #666;
  border-radius: 10px;
  box-shadow: 0 10px 20px #65696d(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.contact-left textarea{
  width: 500px;
  height: 200px;
  padding-top: 15px;
  border-radius: 10px;
  box-shadow: 0 10px 20px #65696d(0, 0, 0, 1);
}

.contact-input::placeholder{
  color: #a9a9a9;
}

.contact-input:hover,
.contact-input:focus {
  outline: 1px solid #0066ff;
  box-shadow: 0px 0px 0px 7px rgb(74, 157, 236, 20%);
}


.btn{
  --clr-font-main: hsla(0 0% 20% / 100);
  --btn-bg-1: hsla(194 100% 69% / 1);
  --btn-bg-2: hsla(217 100% 56% / 1);
  --btn-bg-color: hsla(360 100% 100% / 1);
  --radii: 0.5em;
  cursor: pointer;
  padding: 0.9em 1.4em;
  min-width: 120px;
  min-height: 44px;
  font-size: var(--size, 1rem);
  font-weight: 700;
  transition: 0.8s;
  background-size: 280% auto;
  background-image: linear-gradient(
    325deg,
    var(--btn-bg-2) 0%,
    var(--btn-bg-1) 55%,
    var(--btn-bg-2) 90%
  );
  border: none;
  border-radius: var(--radii);
  color: var(--btn-bg-color);
  box-shadow:
    0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}

.btn:hover {
  background-position: right top;
}

.btn:is(:focus, :focus-visible, :active) {
  outline: none;
  box-shadow:
    0 0 0 3px var(--btn-bg-color),
    0 0 0 6px var(--btn-bg-2);
}

/* contact right section  */

.contact-right{
  color: white;
  max-width: 1000px;
  height: 350px;
  margin-top: 40px;
}

.contact-right p{
  text-align: justify;
  font-family: "Montserrat", serif;
  font-size: 15px;
  line-height: 20px;
}

.contact-right span{
  display: inline-block;
  margin-top: 16px;
  font-family: "Montserrat", serif;
  font-weight: lighter;
  font-size: 13px;
  width: 1000px;
  text-align: right;
}

/* all icons  */

.icons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#linkin{
  font-size: 40px;
  color: white;
  transition: 0.5s;

  &:hover{
    color: #0A66C2;
  }
}

#twitter{
  font-size: 39px;
  margin-left: 20px;
  color: white;
  transition: 0.5s;

  &:hover{
    color: #000000;
  }
}

#github{
  font-size: 39px;
  margin-left: 20px;
  color: white;
  transition: 0.5s;

  &:hover{
    color: #000000;
  }
}

#insta{
  font-size: 38px;
  margin-left: 20px;
  margin-top: 1px;
  color: white;
  transition: 0.5s;

  &:hover{
    background: linear-gradient(45deg, 
    #f09433 0%, 
    #e6683c 25%, 
    #dc2743 50%, 
    #cc2366 75%, 
    #bc1888 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (prefers-reduced-motion: reduce) {
  .btn {
    transition: linear;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }
}