@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #242424;
  position: absolute;
}

/* navbar starts here  */

.navbar {
  display: flex;
  justify-content: right;
  align-items: center;
  background-color: rgba(91, 91, 91, 0.2);
  padding: 10px 20px;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin: 0 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", serif;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {

  color: #444cf7;
  transform: scale(1.1);
}

/* hero section starts here  */

.parallaxin {
  padding: 10% 0;
}

h1 {
  color: white;
  text-align: center;
  font-family: "Jersey 25", serif;
  font-size: 150px;
  letter-spacing: 10px;
  line-height: 125px;
}

/* Showcase section starts here  */

.showcase {
  display: flex;
  background-color: #adb5bd;
  min-height: 900px;
  width: auto;
  flex-direction: column;
}


.project-text {
  font-family: "Montserrat", serif;
  font-size: 50px;
  position: relative;
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  height: 50px;
  transition: 0.3s;
}

.project-text:hover {
  color: #444cf7;
}

.project-text::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s;
}

.project-text:hover::after {
  transform: scaleX(1);
}

/*project container and project box desigining*/

.pro-text {

  height: auto;
  padding: 0.5rem 0 2rem;
  text-align: center;
}

.project-container {
  width: 100%;
  flex-grow: 1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2rem 4rem;
  grid-gap: 40px;
}

.project-box {

  height: 450px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  transition: transform 0.3s ease-in-out;

}

.project-box:hover {
  transform: scale(1.03);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.pro-box1 {

  background: #f8f9fa;
}

.pro-box2 {
  background: #212529;
}

.img-container {
  height: 120px;
  width: 100%;
}

.msg-container {
  width: 100%;
  flex: 1;

}

.msg-container a {
  color: #212529;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.msg-container a::after {
  content: ' ';
  width: 10%;
  height: 3px;
  background: #343a40;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;

}

.msg-container:hover a::after {
  width: 100%;
}

.pro-box2 .msg-container a {
  color: #f8f9fa;

}

.pro-box2 .msg-container a::after {
  background: #f8f9fa;
}

/* about description sections starts here  */

.about {
  height: 800px;
  width: auto;
  display: flex;
  color: white;
}

.about h3 {
  font-family: "Montserrat", serif;
  font-size: 80px;
  align-items: top;
  justify-content: flex-start;
  margin-top: 100px;
  margin-left: 100px;
}

.about p {
  margin-top: 10px;
  margin-left: 100px;
  float: left;
  font-family: "Jaldi", serif;
  font-size: 32;
  letter-spacing: 3px;
  line-height: 20px;
}

.about img {
  height: 500px;
  margin-right: 100px;
  margin-top: 120px;
}

/* reviews section starts here  */

.feedback {
  margin-top: 3px;
  height: 600px;
  width: auto;
  display: flex;
  align-items: top;
  justify-content: center;
}

.feedback-container {
  text-align: center;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  max-width: 400px;
  margin: 20px auto;
  height: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.feedback-title {
  margin-bottom: 8px;
  color: #333;
  font-family: "Montserrat", serif;
}

.rating-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  padding: 7px;
}

.rating-container input {
  display: none;
}

.rating-container label {
  font-size: 40px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

/* Creates the hover effect for all stars up to the hovered one */
.rating-container label:hover,
.rating-container label:hover~label {
  color: #0066ff;
}

/* Style for checked stars */
.rating-container input:checked~label {
  color: #0066ff;
}

footer {
  display: flex;
  flex-direction: row;
  background-color: #5b5b5b;
  margin-top: 3px;
  border-radius: 5px;
  height: 600px;
  width: auto;
}
/* contact section */

.contact-container{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 100px;
}

.contact-left{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-title h2{
  font-weight: 600;
  color: #f3f2f3;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr{
  border: none;
  width: 120px;
  height: 5px;
  background-color: #a363aa;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contact-input{
  width: 500px;
  height: 50px;
  border: none;
  outline: none;
  padding-left: 25px;
  font-weight: 500;
  color: #666;
  border-radius: 50px;
}

.contact-left textarea{
  height: 140px;
  padding-top: 15px;
  border-radius: 20px;
}

.contact-input:focus{
  border: 2px solid #ff994f;
}

.contact-input::placeholder{
  color: #a9a9a9;
}

.contact-left button{
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: #fff;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background-color: aqua;
  cursor: pointer;
}

 /*.contact {
  display: flex;
  flex-direction: column;
}

.contact h4 {
  font-family: "Jaldi", serif;
  font-size: 40px;
  color: white;
  margin-top: 20px;
  margin-left: 30px;
}

.box {
  height: 400px;
  width: 60vw;
  background-color: #2e2e2e;
  text-align: center;
  border-radius: 10px;
  font-size: medium;
  margin-left: 30px;
  color: white;
}

.msgbtn {
  background-color: #444cf7;
  width: 60vw;
  height: 40px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 10px;
  font-family: "Jaldi", serif;
  color: white;
  font-size: 25px;
  letter-spacing: 1px;
  text-align: center;
} */

.details {
  height: 280px;
  width: 35vw;
  background-color: #2e2e2e;
  margin-top: 160px;
  border-radius: 20px;
  margin-left: 20px;
}

.details i {
  font-size: 40px;
  color: white;
}


/* Responsive design */
@media (max-width: 768px) {
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }

  .navbar ul li {
    margin: 10px 0;
  }
}