*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
}

:root{
  --primary-color:#fbba7a;
  --secondary-color:rgba(255, 255, 255, 0.4);
}

/* design-section */

#service{
  /* background:#20223a; */
  background: #001734;
  min-height: 740px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#service h2{
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
}

#service h2::after{
  content: "";
  top: 30%;
  left: -30px;
  height: 0;
  position: absolute;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid var(--primary-color);
}

#service h2::before{
  content: "";
  top: 30%;
  right: -30px;
  height: 0;
  position: absolute;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--primary-color);
}

#service #para{
  width: 50%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  z-index: 9;
  margin-top: 20px;
}

.content ul{
  list-style-type: none;
  padding-top: 10px;
}
    
.content ul li{
  margin-bottom: 10px;
  font-size: 18px;

}


.cards .card{
  min-height: 400px;
  width: 450px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 8%;
  /* background: rgb(65,62,105); */
  background-color: #2a4c70;
  position: relative;
  border-radius: 10px;
}

.cards .card::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #fbba7a;
  transition: 0.6s;
  transform: rotate(0deg);
  z-index: -1;
}

.cards .card:hover.card::before{
  transform: rotate(10deg);
}

.cards .card i{
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin-top: 40px;
  margin-bottom: 10px;
}

.cards .card h3{
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}

.cards .card .content .para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.05rem;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Client-section */

#service2{
  /* background:#20223a; */
  background: #001734;
  min-height: 740px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 20px;
}

#service2 h2{
  color: #fff;
  font-size: 2rem;
  margin-bottom: 20px;
  position: relative;
  margin-top: 100px;
}

#service2 h2::after{
  content: "";
  top: 30%;
  left: -30px;
  height: 0;
  position: absolute;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid var(--primary-color);
}

#service2 h2::before{
  content: "";
  top: 30%;
  right: -30px;
  height: 0;
  position: absolute;
  width: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid var(--primary-color);
}

#service2 #para{
  width: 50%;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  line-height: 1.5rem;
  white-space: 1px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.cards2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  z-index: 9;
  margin-top: 20px;
}

.content ul{
  list-style-type: none;
  padding-top: 10px;
}
    
.content ul li{
  margin-bottom: 10px;
  font-size: 18px;

}
.cards2 .card{
  min-height: 350px;
  width: 400px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 8%;
  /* background: rgb(65,62,105); */
  background: #2a4c70;
  position: relative;
  border-radius: 10px;
}

.cards2 .card::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background: #fbba7a;
  transition: 0.6s;
  transform: rotate(0deg);
  z-index: -1;
}

.cards2 .card:hover.card::before{
  transform: rotate(10deg);
}

.cards2 .card i{
  font-size: 2.5rem;
  color: var(--secondary-color);
  margin-top: 40px;
  margin-bottom: 10px;
}

.cards2 .card h3{
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 10px;
}

.cards2 .card .content .para{
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.05rem;
  margin-bottom: 20px;
  font-weight: 500;
}


@media(max-width:1100px){
  #service h2{
      margin-top: 30px;
  }
  .cards{
      grid-template-columns: repeat(1,1fr);
  }
  .cards2{
      grid-template-columns: repeat(1,1fr);
  }
  #service #para{
      width: 80%;
  }
}

@media(max-width:900px){
  .cards.card{
      height: 300px;
      width: 400px;
      margin: 20px 0;
  }
  .cards2.card{
      height: 300px;
      width: 400px;
      margin: 20px 0;
  }
}